@use "sass:selector";
@use "sass:list";

@use "node_modules/Sass-Boost/dist/sass-boost";

@use "remove-modifiers";
@use "remove-junk";

/// Identify the namespace from a passed selector
///
/// @param {list} $selector - The selector from which to get the namespace
@function get-namespace($selector) {
  $parent-module: $module;

  $selectors: remove-modifiers.remove-modifiers($selector);
  $selectors: remove-junk.remove-junk($selectors);

  // Spoof our selectors into a list
  $selectors: sass-boost.str-replace($selectors, ' ', ', ');
  $selectors: selector.parse($selectors);

  @return list.nth($selectors, list.length($selectors));
}