/// Get parmater from config string
///
/// @param {string} $source - the string from which to retrieve param
@function get-param($source) {
  @if str-index($source, 'component(') == 1 {
    $source: str-replace($source, 'component(', '');
    $source: str-replace($source, ')', '');
  }

  @else if str-index($source, 'sub-component(') == 1 {
    $source: str-replace($source, 'sub-component(', '');
    $source: str-replace($source, ')', '');
  }

  @else if str-index($source, 'modifier(') == 1 {
    $source: str-replace($source, 'modifier(', '');
    $source: str-replace($source, ')', '');
  }

  @else if str-index($source, $componentGlue) == 1 {
    $source: strip-glue($source, $componentGlue);
  }

  @else if str-index($source, $modifierGlue) == 1 {
    $source: strip-glue($source, $modifierGlue);
  }

  @if type-of($source) == 'string' {
    $source: str-replace($source, "'", '');
  }

  @return $source;
}