@use "sass:selector";
@use "sass:string";
@use "sass:list";

@use "node_modules/Sass-Boost/dist/sass-boost";

@use "../config";
@use "remove-junk";

/// Get the name of a module from a selector
///
/// @param {string} $selector
@function get-module-name($selector) {
  $selector: #{list.nth($selector, list.length($selector))};
  $selector: selector.parse(sass-boost.str-replace($selector, ' ', ', '));
  $selector: list.nth($selector, list.length($selector));
  $selector: remove-junk.remove-junk(#{$selector});

  $modifier-index: string.index($selector, config.$modifierGlue);
  $component-index: string.index($selector, config.$componentGlue);

  $slice-index: if($component-index, $component-index, $modifier-index);

  @return if($slice-index, string.slice($selector, 0, $slice-index - 1), $selector);
}