/// Identify the namespace from a passed selector
///
/// @param {list} $selector - The selector from which to get the namespace
@function get-namespace($selector) {
  $parent-module: $module;

  $selectors: remove-modifiers($selector);
  $selectors: remove-junk($selectors);

  // Spoof our selectors into a list
  $selectors: str-replace($selectors, ' ', ', ');
  $selectors: selector-parse($selectors);

  @return nth($selectors, length($selectors));
}