/// Get the name of a module from a selector
///
/// @param {string} $selector
@function get-module-name($selector) {
  $cleaned-selector: inspect(nth($selector, length($selector)));
  $cleaned-selector: selector-parse(str-replace($cleaned-selector, ' ', ', '));
  $cleaned-selector: nth($cleaned-selector, length($cleaned-selector));
  $cleaned-selector: remove-junk(inspect($cleaned-selector));

  $modifier-index: str-index($cleaned-selector, $modifierGlue);
  $component-index: str-index($cleaned-selector, $componentGlue);

  $slice-index: if($component-index, $component-index, $modifier-index);

  @return if($slice-index, str-slice($cleaned-selector, 0, $slice-index - 1), $cleaned-selector);
}