@use "node_modules/Sass-Boost/dist/sass-boost";

/// Remove junk characters from a selector string
///
/// @param {string} $query
@function remove-junk($query, $modifierGlue) {
  $query: sass-boost.str-replace($query, ".", "");
  $query: sass-boost.str-replace($query, '[class*="#{$modifierGlue}', "");
  $query: sass-boost.str-replace($query, '[class*="', "");
  $query: sass-boost.str-replace($query, '#{$modifierGlue}"]', "");
  $query: sass-boost.str-replace($query, '"]', "");

  $query: sass-boost.str-replace($query, "[class*=", "");
  $query: sass-boost.str-replace($query, "#{$modifierGlue}]", "");

  @return $query;
}
