@use "sass:meta";

@use "node_modules/Sass-Boost/dist/sass-boost";

/// Get a value from the current module's configuration
///
/// @param {arglist} $options
@function this($options...) {
  $value: '';

  @if (meta.variable-exists('config')) {
    $value: sass-boost.map-get-deep($config, $options...);
  }

  @if (meta.variable-exists('sassConfigParser') and $sassConfigParser) {
    $value: meta.call(meta.get-function($sassConfigParser), $value);
  }

  @if not $value and $value != false {
    @warn '#{$options} not found in #{$module} config';
  }

  @return $value;
}