/// Get a value from the current module's configuration
///
/// @param {arglist} $options
@function this($options...) {
  $value: '';

  @if (variable-exists('config')) {
    $value: map-get-deep($config, $options...);
  }

  @if (variable-exists('sassConfigParser') and $sassConfigParser) {
    $value: call(get-function($sassConfigParser), $value);
  }

  @if not $value and $value != false {
    @warn '#{$options} not found in #{$module} config';
  }

  @return $value;
}