@use "sass:list";
@use "sass:meta";
@use "sass:string";

@use "../utilities/utils";

/// Create a modifier for a module
///
/// @param {string|list} $modifiers  - The modifier(s) which you wish to create
/// @param {bool} $glue ['--'] - Desired modifier separator/glue
@mixin modifier($modifiers, $glue: $modifierGlue) {
  $scope: &;
  $namespace: utils.get-namespace(&, $modifierGlue);
  $modifiers-chunk: ();

  // remove root selector chunks from selector
  @if string.index(#{&}, '.#{$namespace},') {
    $scope: ();

    @for $i from 1 through list.length(&) {
      @if $i % 2 == 0 {
        $scope: list.append($scope, list.nth(&, $i), comma);
      }
    }
  }

  @each $modifier in $modifiers {
    $modifiers-chunk: list.join($modifiers-chunk, '[class*="#{$glue}#{$modifier}"]', comma);

    $selector: #{$scope}#{$modifiers-chunk};

    // pseudo-elements must be at the end
    $selector: utils.shift-pseudo-elements($selector);

    @at-root {
      %#{$namespace}-#{$modifier}, #{$selector} {
        @content;
      }
    }
  }
}

/// Alias for modifier() mixin
@mixin modifiers($args...) {
  @include modifier($args...) { @content; }
}

/// Alias for modifier() mixin
@mixin is($args...) {
  @include modifier($args...) { @content; }
}