/// Used to generate selectors for pseudo states
///
/// @param {string} $state
@mixin pseudo-state($state, $class: true) {
  $scope: &;
  $selector: ();
  $connector: if($class, ':', '::');

  @each $item in $scope {
    $chunk: '#{$item}#{$connector}#{$state}';

    // pseudo-elements must be at the end
    $chunk: shift-pseudo-elements($chunk);

    $selector: append($selector, $chunk, comma);
  }

  @at-root #{$selector} {
    @content;
  }
}

/// Alias
@mixin pseudo-element($state) {
  @include pseudo-state($state, $class: false) {
    @content;
  }
}

/// Sugar for `pseudo-state` mixin with $state: 'hover'
@mixin hover {
  @include pseudo-state('hover') {
    @content;
  }
}