/// Apply styles when a defined option is a particular value
///
/// @param $value - The value you wish to apply styles to
///
/// @example
///   $config: (
///     side : false
///   );
///
///   @include module(header) {
///     @include option(side) {
///       @include value(left) {
///           ...
///       }
///     }
///   }
@mixin value($value) {
  // Create a unique, random placeholder to store styles
  $placeholder : $value + random(9999);
  $get-option: option($config, $option);
  $target: if(type-of($get-option) == 'map', option($config, $option, 'enabled'), $get-option);

  // Determine if the option's value is our value of interest
  $enabled: if($target == $value, true, false);

  @if ($enabled) {
    @content;
  }

  // Create a modifier for the option
  @if $extendOptions and not $enabled {
    @include modifier($option) {
      @include modifier($value) {
        @content;
      }
    }
  }
}