// Import the project
@import '../src/cell';

@include module('button') {
    @include modifier('foo') {
        content: icon;

        @include component('icon') {
            content: 'foo';
        }
    }
}

@include module('module1') {
    content: module1;
    @include component('fizz') {
        content: fizz;
    }
    @include modifier('test') {
        @include module('module2') {
            content: module2;
            @include modifier('test2') {
                @include components('buzz') {
                    content: buzz;
                }
            }
        }
    }
}