// Import the project
@import '../src/cell';

@include module('button') {
    @include modifier('small') {
        font-size: 10px;

        @include modifier('danger') {
            background-color: red;

            @include pseudo-element('before') {
                content: test;

                @include hover {
                    content: hello;
                }

                @include modifier('fizz') {
                    content: nested-hover;
                }
            }
        }
    }

    @include component('icon') {
        content: icon;
    }

    @include modifier('delete') {
        @include extend(('small', 'danger'));
    }
}

@include module('module1') {
    @include component('fizz') {
        @include module('module2') {
            @include modifier('buzz') {
                content: fizz;
            }
        }
    }
}