[class*=".button--"][class*="--foo"] {
  content: icon;
}
[class*=".button--"][class*="--foo"] .button__icon, [class*=".button--"][class*="--foo"] [class*=".button__icon--"] {
  content: "foo";
}

.module1, [class*=".module1--"] {
  content: module1;
}
.module1__fizz, [class*=".module1__fizz--"] {
  content: fizz;
}

[class*=".module1--"][class*="--test"] .module2, [class*=".module1--"][class*="--test"] [class*=".module2--"] {
  content: module2;
}
[class*=".module1--"][class*="--test"] [class*=".module2--"][class*="--test2"] .module2__buzz, [class*=".module1--"][class*="--test"] [class*=".module2--"][class*="--test2"] [class*=".module2__buzz--"] {
  content: buzz;
}

.foo__panel, [class*=".foo__panel--"] {
  color: red;
}

[class*=".foo--"][class*="--modifier"] {
  color: blue;
}

[class*=".foo__"][class*=__panel][class*="--active"] .foo__title, [class*=".foo__"][class*=__panel][class*="--active"] [class*=".foo__title--"] {
  color: green;
}

.header, [class*=".header--"], .footer, [class*=".footer--"] {
  font-size: 12px;
}