.module1, [class*=".module1--"] {
  content: module1;
}
.module1__fizz, [class*=".module1__fizz--"] {
  content: fizz;
}
.module1__fizz__sub, [class*=".module1__fizz__sub--"] {
  content: sub;
}

[class*=".module1__fizz--"][class*="--fuzz"] {
  content: fuzz;
}

[class*=".module1--"][class*="--test"] .module2, [class*=".module1--"][class*="--test"] [class*=".module2--"] {
  content: module2;
}
[class*=".module1--"][class*="--test"] [class*=".module2--"][class*="--test2"] .module2__buzz, [class*=".module1--"][class*="--test"] [class*=".module2--"][class*="--test2"] [class*=".module2__buzz--"] {
  content: buzz;
}